USE [master]
GO
/****** Object:  Database [BadMintonSystemDB]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE DATABASE [BadMintonSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BadMintonSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BadMintonSystemDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BadMintonSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BadMintonSystemDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BadMintonSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BadMintonSystemDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BonusInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonusInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Score] [int] NOT NULL,
	[MatchID] [int] NOT NULL,
	[Updated] [bit] NOT NULL,
	[BonusType] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ChampionID_ID] [bigint] NOT NULL,
	[MemberID_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.BonusInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChampionshipInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChampionshipInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[ChampionType] [int] NOT NULL,
	[CompetingType] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.ChampionshipInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClubInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClubInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ClubInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MatchInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MatchDate] [datetime] NOT NULL,
	[WinnerPoints] [int] NOT NULL,
	[LoserPoints] [int] NOT NULL,
	[Compensation] [int] NOT NULL,
	[Updated] [bit] NOT NULL,
	[Ignore] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ChampionID_ID] [bigint] NULL,
	[LoserID_ID] [bigint] NULL,
	[LoserID2_ID] [bigint] NULL,
	[WinnerID_ID] [bigint] NULL,
	[WinnerID2_ID] [bigint] NULL,
	[VerifyDate] [datetime] NOT NULL,
	[Verified] [bit] NOT NULL,
	[InputPersonID_ID] [bigint] NULL,
	[MatchType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MatchInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberAndClubRelations]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberAndClubRelations](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IsCaption] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ClubID_ID] [bigint] NOT NULL,
	[MemberID_ID] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.MemberAndClubRelations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MemberInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Male] [bit] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[Score] [int] NOT NULL,
	[TestScore] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.MemberInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScoreInfoes]    Script Date: 2/4/2017 2:00:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreInfoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CalculateDate] [datetime] NOT NULL,
	[PeriodEnd] [datetime] NOT NULL,
	[Score] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[MemberID_ID] [bigint] NULL,
 CONSTRAINT [PK_dbo.ScoreInfoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChampionshipInfoes] ON 

INSERT [dbo].[ChampionshipInfoes] ([ID], [Title], [StartDate], [EndDate], [ChampionType], [CompetingType], [CreateTime], [IsActive]) VALUES (8, N'训练对抗赛，两组使用同一套排名', CAST(0x0000A67A00000000 AS DateTime), CAST(0x0000A79A00000000 AS DateTime), 2, 1, CAST(0x0000A6F6011299AE AS DateTime), 0)
INSERT [dbo].[ChampionshipInfoes] ([ID], [Title], [StartDate], [EndDate], [ChampionType], [CompetingType], [CreateTime], [IsActive]) VALUES (9, N'2016中秋假期16强锦标赛', CAST(0x0000A68400000000 AS DateTime), CAST(0x0000A68400000000 AS DateTime), 3, 2, CAST(0x0000A6F60112EE8F AS DateTime), 0)
INSERT [dbo].[ChampionshipInfoes] ([ID], [Title], [StartDate], [EndDate], [ChampionType], [CompetingType], [CreateTime], [IsActive]) VALUES (10, N'第二次锦标赛', CAST(0x0000A72900000000 AS DateTime), CAST(0x0000A73C00000000 AS DateTime), 3, 1, CAST(0x0000A6F6011664E2 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[ChampionshipInfoes] OFF
SET IDENTITY_INSERT [dbo].[ClubInfoes] ON 

INSERT [dbo].[ClubInfoes] ([ID], [Name], [Description], [CreateTime]) VALUES (8, N'MOD-F', N'MOD-F羽毛球队', CAST(0x0000A6EC00000000 AS DateTime))
INSERT [dbo].[ClubInfoes] ([ID], [Name], [Description], [CreateTime]) VALUES (9, N'MOD-H', N'MOD-H羽毛球组', CAST(0x0000A6EC00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[ClubInfoes] OFF
SET IDENTITY_INSERT [dbo].[MatchInfoes] ON 

INSERT [dbo].[MatchInfoes] ([ID], [MatchDate], [WinnerPoints], [LoserPoints], [Compensation], [Updated], [Ignore], [CreateTime], [ChampionID_ID], [LoserID_ID], [LoserID2_ID], [WinnerID_ID], [WinnerID2_ID], [VerifyDate], [Verified], [InputPersonID_ID], [MatchType]) VALUES (13, CAST(0x0000A71400000000 AS DateTime), 11, 6, 0, 0, 0, CAST(0x0000A71000E5E30C AS DateTime), 9, 173, NULL, 169, NULL, CAST(0x0000000000000000 AS DateTime), 0, 168, 0)
INSERT [dbo].[MatchInfoes] ([ID], [MatchDate], [WinnerPoints], [LoserPoints], [Compensation], [Updated], [Ignore], [CreateTime], [ChampionID_ID], [LoserID_ID], [LoserID2_ID], [WinnerID_ID], [WinnerID2_ID], [VerifyDate], [Verified], [InputPersonID_ID], [MatchType]) VALUES (14, CAST(0x0000A71500000000 AS DateTime), 11, 5, 0, 0, 0, CAST(0x0000A71000E5F9A1 AS DateTime), 10, 186, NULL, 175, NULL, CAST(0x0000000000000000 AS DateTime), 0, 168, 0)
INSERT [dbo].[MatchInfoes] ([ID], [MatchDate], [WinnerPoints], [LoserPoints], [Compensation], [Updated], [Ignore], [CreateTime], [ChampionID_ID], [LoserID_ID], [LoserID2_ID], [WinnerID_ID], [WinnerID2_ID], [VerifyDate], [Verified], [InputPersonID_ID], [MatchType]) VALUES (15, CAST(0x0000A71500000000 AS DateTime), 6, 7, 0, 0, 0, CAST(0x0000A71000E60CE1 AS DateTime), 11, 183, NULL, 173, NULL, CAST(0x0000000000000000 AS DateTime), 0, 168, 0)
SET IDENTITY_INSERT [dbo].[MatchInfoes] OFF
SET IDENTITY_INSERT [dbo].[MemberInfoes] ON 

INSERT [dbo].[MemberInfoes] ([ID], [Name], [Male], [UpdateDate], [Score], [TestScore], [CreateTime]) VALUES (168, N'牛江磊', 1, CAST(0x0000A6F701008692 AS DateTime), 0, 0, CAST(0x0000A6EC00000000 AS DateTime))
INSERT [dbo].[MemberInfoes] ([ID], [Name], [Male], [UpdateDate], [Score], [TestScore], [CreateTime]) VALUES (169, N'杨培军', 1, CAST(0x0000A6F700F318C3 AS DateTime), 0, 0, CAST(0x0000A6F700F318C3 AS DateTime))
INSERT [dbo].[MemberInfoes] ([ID], [Name], [Male], [UpdateDate], [Score], [TestScore], [CreateTime]) VALUES (170, N'刑峰', 0, CAST(0x0000A6F700F34204 AS DateTime), 0, 0, CAST(0x0000A6F700F34204 AS DateTime))
SET IDENTITY_INSERT [dbo].[MemberInfoes] OFF
/****** Object:  Index [IX_ChampionID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChampionID_ID] ON [dbo].[BonusInfoes]
(
	[ChampionID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberID_ID] ON [dbo].[BonusInfoes]
(
	[MemberID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChampionID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChampionID_ID] ON [dbo].[MatchInfoes]
(
	[ChampionID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InputPersonID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_InputPersonID_ID] ON [dbo].[MatchInfoes]
(
	[InputPersonID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoserID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoserID_ID] ON [dbo].[MatchInfoes]
(
	[LoserID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LoserID2_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_LoserID2_ID] ON [dbo].[MatchInfoes]
(
	[LoserID2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WinnerID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerID_ID] ON [dbo].[MatchInfoes]
(
	[WinnerID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_WinnerID2_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_WinnerID2_ID] ON [dbo].[MatchInfoes]
(
	[WinnerID2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClubID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_ClubID_ID] ON [dbo].[MemberAndClubRelations]
(
	[ClubID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberID_ID] ON [dbo].[MemberAndClubRelations]
(
	[MemberID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberID_ID]    Script Date: 2/4/2017 2:00:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_MemberID_ID] ON [dbo].[ScoreInfoes]
(
	[MemberID_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChampionshipInfoes] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MatchInfoes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [VerifyDate]
GO
ALTER TABLE [dbo].[MatchInfoes] ADD  DEFAULT ((0)) FOR [Verified]
GO
ALTER TABLE [dbo].[MatchInfoes] ADD  DEFAULT ((0)) FOR [MatchType]
GO
ALTER TABLE [dbo].[BonusInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BonusInfoes_dbo.ChampionshipInfoes_ChampionID_ID] FOREIGN KEY([ChampionID_ID])
REFERENCES [dbo].[ChampionshipInfoes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BonusInfoes] CHECK CONSTRAINT [FK_dbo.BonusInfoes_dbo.ChampionshipInfoes_ChampionID_ID]
GO
ALTER TABLE [dbo].[BonusInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BonusInfoes_dbo.MemberInfoes_MemberID_ID] FOREIGN KEY([MemberID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BonusInfoes] CHECK CONSTRAINT [FK_dbo.BonusInfoes_dbo.MemberInfoes_MemberID_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.ChampionshipInfoes_ChampionID_ID] FOREIGN KEY([ChampionID_ID])
REFERENCES [dbo].[ChampionshipInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.ChampionshipInfoes_ChampionID_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_InputPersonID_ID] FOREIGN KEY([InputPersonID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_InputPersonID_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_LoserID_ID] FOREIGN KEY([LoserID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_LoserID_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_LoserID2_ID] FOREIGN KEY([LoserID2_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_LoserID2_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_WinnerID_ID] FOREIGN KEY([WinnerID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_WinnerID_ID]
GO
ALTER TABLE [dbo].[MatchInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_WinnerID2_ID] FOREIGN KEY([WinnerID2_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[MatchInfoes] CHECK CONSTRAINT [FK_dbo.MatchInfoes_dbo.MemberInfoes_WinnerID2_ID]
GO
ALTER TABLE [dbo].[MemberAndClubRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MemberAndClubRelations_dbo.ClubInfoes_ClubID_ID] FOREIGN KEY([ClubID_ID])
REFERENCES [dbo].[ClubInfoes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberAndClubRelations] CHECK CONSTRAINT [FK_dbo.MemberAndClubRelations_dbo.ClubInfoes_ClubID_ID]
GO
ALTER TABLE [dbo].[MemberAndClubRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MemberAndClubRelations_dbo.MemberInfoes_MemberID_ID] FOREIGN KEY([MemberID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberAndClubRelations] CHECK CONSTRAINT [FK_dbo.MemberAndClubRelations_dbo.MemberInfoes_MemberID_ID]
GO
ALTER TABLE [dbo].[ScoreInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScoreInfoes_dbo.MemberInfoes_MemberID_ID] FOREIGN KEY([MemberID_ID])
REFERENCES [dbo].[MemberInfoes] ([ID])
GO
ALTER TABLE [dbo].[ScoreInfoes] CHECK CONSTRAINT [FK_dbo.ScoreInfoes_dbo.MemberInfoes_MemberID_ID]
GO
USE [master]
GO
