
@{
    ViewBag.Title = "Account Manage";
}

<h2>Account Manage</h2>

<p>Hello @ViewBag.UserName. What do you need help.</p>

Modify You Account Information Please @Html.ActionLink("Click", "EditAccount")

