@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Help you to manage your rent book.</p>

<p>
    This following link will tell you rules about MOD Library : 
    @Html.ActionLink("MemberHelper", "MemberHelper", "Home", null, null)
</p>