@{
    ViewBag.Title = "Home Page";
}
@model  Wicresoft.MODLibrarySystem.WebUI.Models.Home.HomeIndexModel

<div class="jumbotron">
    <div>
        <span style="color:blue">
            Welcome to use MOD Library.            
        </span>
    </div>
</div>