@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:5px">
    <div class="col-xs-12">
        <img src="~/Content/images/Hmoe.PNG" class="img-responsive" alt="Responsive image" />
    </div>
</div>