@{
    Layout = null;
}

<div id="DeleteClubDialog" title="Delete Club">
    <p>
        <br />
        This Club will be removed and can not be recover.<br />
        Are you sure ?
        <br />
        <br />
    </p>
</div>
<div style="display: none" id="DeleteClubURL" requsturl="@Url.Action("DeleteClub", "DataManage")"></div>
