
@{
    ViewBag.Title = "EditCategory";
}
@model Wicresoft.MODLibrarySystem.Web.Models.CategoryManage.CategoryModel

<h2>EditCategory</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    <div class="jumbotron">
        <table>
            <caption>Edit Category</caption>
            <tbody>
                <tr>
                    <th>CategoryName</th>
                    <td>@Html.TextBoxFor(m => m.CategoryName)</td>
                </tr>
                <tr>
                    <th>ParenetCategoryName</th>
                    <td>@Html.DropDownListFor(m => m.CategorySelectedID, this.Model.CategoryList)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Edit" />
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}