@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Chart.js")

<script>
    var _data = [
	{
	    value: 30,
	    color: "#F38630"
	},
	{
	    value: 50,
	    color: "#E0E4CC"
	},
	{
	    value: 100,
	    color: "#69D2E7"
	}
    ];

    $(document).ready(function () {
        var ctx = $("#myChart").get(0).getContext("2d");
        var myNewChart = new Chart(ctx).PolarArea(_data);
        new Chart(ctx).Doughnut(_data, null);
    })

</script>

<div class="jumbotron">
    <div>
        <p>
            <br />
        </p>
        <h2>Demo</h2>
        <canvas id="myChart" height="400" width="500"></canvas>
    </div>

</div>
