@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Chart.js")
@Scripts.Render("~/Scripts/ChartJS/Demo.js")


<div class="jumbotron">
    <div>
        <p>
            <br />
        </p>
        <h2>Demo</h2>
        @*<canvas id="myChart" height="400" width="500"></canvas>*@
        <canvas id="myChart" height="400" width="500" requesturl="@Url.Action("GetJSONForDoughnut", "Chart")"></canvas>
    </div>
</div>
