@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Chart.js")
@Scripts.Render("~/Scripts/ChartJS/DoughnutChart.js")


<div class="jumbotron" style="height:600px;">
    <div style="width:50%;float:left">
        <p>
            <br />
        </p>
        <h2>Doughnut By Category</h2>
        <canvas id="myChart" height="300" width="400" requesturl="@Url.Action("GetJSONForDoughnut", "Chart")"></canvas>
    </div>
    <div style="width:50%;float:left">
        <table>
            <caption>Title/Color</caption>
            <tbody>
                <tr id="titleColorThRow">
                    <th>Title</th>
                    <th>Color</th>
                    <th>Count</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>
