@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/Chart.js")
@*@Scripts.Render("~/Scripts/ChartJS/Demo.js")*@
@model Wicresoft.MODLibrarySystem.Web.Models.Chart.ChartModel

<script>
    var data = @this.Model.forDoughnutList;
    var ctx = $("#myChart").get(0).getContext("2d");
    var myNewChart = new Chart(ctx).PolarArea(_data);
    new Chart(ctx).Doughnut(data, null);

</script>

<div class="jumbotron">
    <div>
        <p>
            <br />
        </p>
        <h2>DoughnutChart</h2>
        <canvas id="myChart" height="400" width="500"></canvas>        
    </div>
</div>
