@{
    ViewBag.Title = "Home Page";
}
@model  Wicresoft.MODLibrarySystem.Web.Models.Home.HomeIndexModel

<div class="jumbotron">
    <div>
        <span style="color:blue">
            Welcome to use MOD Library System.
            </br>
            The System will help you easy to manager your library.
        </span>
    </div>
</div>