@{
    ViewBag.Title = "Home Page";
}
@model  Badminton.Models.Home.HomeIndexModel

<div class="jumbotron">
    <div>
        <span class="text-info">
           <h1>Welcome to use MOD Badminton System.</h1> 
            </br>
            <h1> The system will help you easy to manager your Badminton Group.</h1>
        </span>
    </div>
</div>