@{
    ViewBag.Title = "Home Page";
}
@model  Badminton.Models.Home.HomeIndexModel

<div class="jumbotron">
    <div>
        <span style="color:blue">
            Welcome to use MOD Badminton System.
            </br>
            The system will help you easy to manager your Badminton Group.
        </span>
    </div>
</div>