@{
    ViewBag.Title = "MOD LIbrary Login";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@model Wicresoft.MODLibrarySystem.Web.Models.Login.LoginIndexModel
@section scripts{
    @Scripts.Render("~/Scripts/LoginJS/Login.js")
}
<h2>MOD LIbrary Login </h2>

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <table style="width:500px">
            <thead> Please Login </thead>
            @if (this.Model.IsFail)
            {
                <caption>
                    <span style="color:red">Login Fail. <br /> @ViewBag.ErrorMessage</span>
                </caption>
            }
            <tbody>
                <tr>
                    <th>
                        UserName
                    </th>
                    <td>
                        @Html.TextBoxFor(m => this.Model.UserName)<span class="requireSpan">*</span>
                        <label id="UserName_errorData" errordatamessage="UserName is require." class="errorLable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        @Html.TextBoxFor(m => this.Model.Password, new { @type = "password" })<span class="requireSpan">*</span>
                        <label id="Password_errorData" errordatamessage="Password is require." class="errorLable" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input id="loginButton" name="loginButtion" type="submit" value="Login" />
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
