@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_NLayout.cshtml";
}
@model Wicresoft.MODLibrarySystem.WebUI.Models.Register.RegisterIndexModel
@section scripts{
    @Scripts.Render("~/Scripts/RegisterJS/IndexRegister.js")
}
<h2>Register</h2>

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <table style="width:400px">
            <thead> Please Input You Email </thead>
            @if (this.Model.IsExist)
            {
                <caption>
                    <span style="color:red">Account exist. <br /> The email has been registered</span>
                </caption>
            }
            <tbody>
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        @Html.TextBoxFor(m => this.Model.Email)<span class="requireSpan">*</span>
                        <label id="Email_errorData" errordatamessage="Email is require and should be a email format." class="errorLable" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Next" />
                    </td>

                </tr>

            </tfoot>
        </table>
    </div>
}


