@{
    ViewBag.Title = "EditPublisher";
}
@model Wicresoft.MODLibrarySystem.Web.Models.PublisherManage.PublisherModel
<h2>EditPublisher</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    <div class="jumbotron">
        <table>
            <caption>Edit Publisher</caption>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Html.TextBoxFor(m => m.PublisherName)</td>
                </tr>
                <tr>
                    <th>Introduction</th>
                    <td>@Html.TextBoxFor(m => m.PublisherIntroduction)</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Edit" />
                        @Html.ActionLink("Back", "Index")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}
