@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Badminton.Models.MatchInput.MatchInputModel
@section scripts{
    @Scripts.Render("~/Scripts/MatchInput/MatchInputJS.js")    
}
<br />

<div style="display:none">
    @Html.DropDownList("ChompionshipCompetingTypeList", this.Model.ChampionshipCompetingTypeList)
    @Html.DropDownList("SelectCompetingType", this.Model.CompetingList)
</div>

<div>
    <span>请选择赛事:</span>
    @Html.DropDownList("SelectChampionship", this.Model.ChampionshipList, new { onchange="setCompetingType()"})
    
    <span>赛事类型:</span>
    <input type="tel" id="CompetingType" value="等待你选择" />
</div>

<br />
<div>

</div>




