body {
    text-align: left;
}

div.out {
    margin: 30px auto;
    width: 900px;
    border: 1px solid #d7d7d7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

div.in {
    margin: 10px 10px;
    width: 880px;
    border: 1px solid #d7d7d7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

table {
    border-collapse: collapse;
    width:700px;
    border-spacing:10px;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}

th {
    color: black;
    background-color: orangered;
}

tr.dark1 td {
    color: black;
    background-color: aliceblue;
}

tr.dark2 td {
    color: black;
    background-color: rgb(251, 219, 214);
}

tr.dark3 td {
    color: black;
    background-color: rgb(253, 236, 234);
}

p {
    text-align: center;
}
img {
    border-width: 0px;
    margin: 10px;
    padding: 0px;
    vertical-align: middle;
    width:850px;
}
span.small {
    font-size:10px;
}