@{
    ViewBag.Title = "Read History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Wicresoft.MODLibrarySystem.WebUI.Models.RentManage.ReadHistoryModel

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="gradient" style="width:350px; border:1px; text-align:center;">
            <table style=" width:200px;margin:auto;text-align:left" class="table table-bordered">
                <caption> Read History </caption>

                <tbody>
                    <tr>
                        <td>
                            Title
                        </td>
                    </tr>
                    @foreach (var item in this.Model.ReadHistoryModelList)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.ActionLink("Back to Index", "Index", "RentManage", new { @class = "btn btn-success" })
        </div>
    </div>
}
